 .navbar{
	width: 100%; 
	float: left;
	border-radius: 0px;
	background-color: #777;
}

.navbar-right {
    margin-right: 0;
}

.navbar ul li {
	float: left;
	padding: 15px;
	font-size: 14px;
	list-style: none;
	color: #fff;
} 

.container{
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-radius: 0px;
}